.idea
__pycache__/
*.pyc
__pycache__/
*.py[cod]
*.class
.DS_Store
.idea/
.vscode
.log
.png
.idea
*.ipynb
*-env
env/
logs/
.ipynb_checkpoints/
data/archive
data/auxiliary
!data/sample/
models/archive
test/model/test/*
.idea
config/current_production_config.yml
config/local
!.gitkeep
